{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!--basic-->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!--mobile meters-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />

    <!--site metas-->
    <title>Green Doctor</title>
    <meta
      name="description"
      content="This is a Plant Disease Prediction Websitr"
    />
    <meta name="author" content="Marmik Shah" />

    <!--favicon-->
    <link rel="icon" href="{% static 'deeplearning/images/favicon.webp' %}" />

    <!--fonts-->

    <!--
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    
    -->

    <link
      rel="stylesheet"
      href="{% static 'deeplearning/css/font-awesome.min.css' %}"
    />

    <!--JiSlider css (banner) -->
    <link
      rel="stylesheet"
      href="{% static 'deeplearning/css/JiSlider.css' %} "
    />

    <!--FlexSilder css (testimonials) -->
    <link
      rel="stylesheet"
      href="{% static 'deeplearning/css/flexslider.css' %} "
    />

    <!--Lightbox css (gallery) -->
    <link
      rel="stylesheet"
      href="{% static 'deeplearning/css/simplelightbox.min.css' %} "
    />

    <!-- Theme CSS
    <link
      id="theme-style"
      rel="stylesheet"
      href="{% static 'deeplearning/css/theme.css' %}"
    /> -->

    <!--Bootstap css-->
    <link
      rel="stylesheet"
      href="{% static 'deeplearning/css/bootstrap.css' %} "
    />

    <!--Style css-->
    <link rel="stylesheet" href="{% static 'deeplearning/css/style.css' %} " />
    <link
      rel="stylesheet"
      href="{% static 'deeplearning/css/responsive.css' %} "
    />
  </head>

  <body>
    <!--NavBar-->

    <div class="main-section" id="home">
      <div class="container">
        <div class="banner-nav">
          <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header navbar-left">
              <button
                type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1"
              >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <h1>
                <a class="navbar-brand" href="#home">
                  <p>GD</p>
                </a>
              </h1>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div
              class="collapse navbar-collapse navbar-right"
              id="bs-example-navbar-collapse-1"
            >
              <nav class="menu">
                <ul class="nav navbar-nav menu_list">
                  <li class="menu_item">
                    <a href="#home" class="scroll menu_link">Home</a>
                  </li>
                  <li class="menu_item">
                    <a href="#about" class="scroll menu_link">About</a>
                  </li>
                  <li class="menu_item">
                    <a href="{% url 'engine'%}" class="scroll menu_link"
                      >AI Engine</a
                    >
                  </li>
                  <li class="menu_item">
                    <a href="{%url 'predict'%}" class="scroll menu_link"
                      >Predict</a
                    >
                  </li>
                  <li class="menu_item">
                    <a href="#gallery" class="scroll menu_link">Gallery</a>
                  </li>
                  <li class="menu_item">
                    <a href="#contact" class="scroll menu_link">Contact</a>
                  </li>

                  {% if user.is_authenticated %}

                  <li class="menu_item">
                    <a class="scroll menu_link" href="{% url 'logout' %}"
                      >Logout
                    </a>
                  </li>
                  <!-- <li class="menu_item">
                    <a class="scroll menu_link" role="link" aria-disabled="true"
                      >Hello, {{ user.username }}
                    </a>
                  </li> -->
                  {% else %}
                  <li class="menu_item">
                    <a class="scroll menu_link" href="{% url 'login' %}"
                      >Sign Up
                    </a>
                  </li>
                  <!-- <li class="menu_item">
                    <a class="scroll menu_link" href="{% url 'register' %}"
                      >Register
                    </a>
                  </li> -->
                  {% endif %}
                </ul>
                <div class="menu-social">
                  <div class="social_icons">
                    <a
                      href="https://www.facebook.com"
                      target="_blank"
                      class="social_button"
                      ><i class="fa fa-facebook"></i
                    ></a>
                    <a
                      href="https://www.twitter.com"
                      target="_blank"
                      class="social_button"
                      ><i class="fa fa-twitter"></i
                    ></a>
                    <a
                      href="https://myaccount.google.com"
                      target="_blank"
                      class="social_button"
                      ><i class="fa fa-google-plus"></i
                    ></a>
                  </div>
                </div>
              </nav>
            </div>
          </nav>
        </div>
      </div>
    </div>
    {% block content %} {% endblock %}
    <!--Footer-->

    <div class="footer">
      <div class="container">
        <div class="copyright">
          <p>
            &copy; Green Doctor. All rights reserved | Design by
            <a href="#">GrowMore Team</a>
          </p>
        </div>

        <div class="footer-social">
          <p>
            <a href="https://www.facebook.com" target="_blank"
              ><i class="fa fa-facebook-official"></i
            ></a>
            <a href="https://www.instagram.com" target="_blank"
              ><i class="fa fa-instagram"></i
            ></a>
            <a href="https://www.snapchat.com" target="_blank"
              ><i class="fa fa-snapchat"></i
            ></a>
            <a href="https://in.pinterest.com" target="_blank"
              ><i class="fa fa-pinterest-p"></i
            ></a>
            <a href="https://www.twitter.com" target="_blank"
              ><i class="fa fa-twitter"></i
            ></a>
            <a href="https://www.linkedin.com" target="_blank"
              ><i class="fa fa-linkedin"></i
            ></a>
            <a href="https://myaccount.google.com" target="_blank"
              ><i class="fa fa-google-plus"></i
            ></a>
          </p>
        </div>
      </div>
    </div>

    <!--Move To Top Button-->

    <a href="#" class="scrollUpButton"></a>

    <!-- Default-JavaScript-File -->
    <script
      type="text/javascript"
      src="{% static 'deeplearning/js/jquery-2.1.4.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'deeplearning/js/bootstrap.js' %}"
    ></script>

    <!-- banner js script (JiSlider) -->
    <script src="{% static 'deeplearning/js/JiSlider.js' %}"></script>
    <script>
      $(window).load(function () {
        $("#JiSlider")
          .JiSlider({
            color: "#fff",
            start: 3,
            reverse: true,
          })
          .addClass("ff");
      });
    </script>

    <!-- numscroller js file -->
    <script
      type="text/javascript"
      src="{% static 'deeplearning/js/numscroller-1.0.js' %}"
    ></script>

    <!--Smooth Scroll-->
    <script
      src="{% static 'deeplearning/js/smooth-scroll.polyfills.min.js' %}"
      type="text/javascript"
    ></script>

    <!--    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>-->

    <script type="text/javascript">
      var scroll = new SmoothScroll("a.scroll", {
        speed: 1500,
        easing: "easeInOutQuart",
      });
    </script>

    <!--Move To Top Button-->

    <script type="text/javascript">
      $(document).ready(function () {
        $(window).scroll(function () {
          if ($(this).scrollTop() > 100) {
            $(".scrollUpButton").fadeIn();
          } else {
            $(".scrollUpButton").fadeOut();
          }
        });

        $(".scrollUpButton").click(function () {
          $("html, body").animate(
            {
              scrollTop: 0,
            },
            2000
          );
          return false;
        });
      });
    </script>

    <!-- video js file -->
    <script src="{% static 'deeplearning/js/jquery.vide.min.js' %}"></script>

    <!-- gallery plugin (lightbox) -->
    <script
      type="text/javascript"
      src="{% static 'deeplearning/js/simple-lightbox.min.js' %}"
    ></script>
    <script>
      $(function () {
        var gallery = $(".gallery-grid a").simpleLightbox({
          navText: ["&lsaquo;", "&rsaquo;"],
        });
      });
    </script>
  </body>
</html>
