{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!--basic-->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!--mobile meters-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />

    <!--site metas-->
    <title>Green Doctor</title>
    <meta
      name="description"
      content="This is a Plant Disease Prediction Websitr"
    />
    <meta name="author" content="Marmik Shah" />

    <!--favicon-->
    <link rel="icon" href="{% static 'deeplearning/images/favicon.webp' %}" />

    <!--fonts-->

    <!--
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    
    -->

    <link
      rel="stylesheet"
      href="{% static 'deeplearning/css/font-awesome.min.css' %}"
    />

    <!--JiSlider css (banner) -->
    <link
      rel="stylesheet"
      href="{% static 'deeplearning/css/JiSlider.css' %} "
    />

    <!--FlexSilder css (testimonials) -->
    <link
      rel="stylesheet"
      href="{% static 'deeplearning/css/flexslider.css' %} "
    />

    <!--Lightbox css (gallery) -->
    <link
      rel="stylesheet"
      href="{% static 'deeplearning/css/simplelightbox.min.css' %} "
    />

    <!--Bootstap css-->
    <link
      rel="stylesheet"
      href="{% static 'deeplearning/css/bootstrap.css' %} "
    />

    <!--Style css-->
    <link rel="stylesheet" href="{% static 'deeplearning/css/style.css' %} " />
    <link
      rel="stylesheet"
      href="{% static 'deeplearning/css/responsive.css' %} "
    />
  </head>
  <body>
    <!--NavBar-->

    <div
      class="main-section"
      style="
        background-color: #232323;
        position: static;
        margin-bottom: 2%;
        padding: 1% 0;
      "
      id="home"
    >
      <div class="container">
        <div class="banner-nav">
          <nav class="navbar navbar-default" style="background-color: #232323">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header navbar-left">
              <button
                type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1"
              >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <h1>
                <a class="navbar-brand" href="{% url 'site-home'%}">
                  <p>GD</p>
                </a>
              </h1>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div
              class="collapse navbar-collapse navbar-right"
              id="bs-example-navbar-collapse-1"
            >
              <nav class="menu">
                <ul class="nav navbar-nav menu_list">
                  <li class="menu_item">
                    <a href="{% url 'site-home'%}" class="scroll menu_link"
                      >Home</a
                    >
                  </li>
                  <li class="menu_item">
                    <a
                      href="{% url 'site-home'%}#about"
                      class="scroll menu_link"
                      >About</a
                    >
                  </li>
                  <li class="menu_item">
                    <a href="{% url 'engine'%}" class="scroll menu_link"
                      >AI Engine</a
                    >
                  </li>
                  <li class="menu_item">
                    <a href="{% url 'site-home'%}" class="scroll menu_link"
                      >Products</a
                    >
                  </li>
                  <li class="menu_item">
                    <a
                      href="{% url 'site-home'%}#gallery"
                      class="scroll menu_link"
                      >Gallery</a
                    >
                  </li>
                  <li class="menu_item">
                    <a
                      href="{% url 'site-home'%}#contact"
                      class="scroll menu_link"
                      >Contact</a
                    >
                  </li>

                  {% if user.is_authenticated %}

                  <li class="menu_item">
                    <a class="scroll menu_link" href="{% url 'logout' %}"
                      >Logout
                    </a>
                  </li>
                  <!-- <li class="menu_item">
                    <a class="scroll menu_link" role="link" aria-disabled="true"
                      >Hello, {{ user.username }}
                    </a>
                  </li> -->
                  {% else %}
                  <li class="menu_item">
                    <a class="scroll menu_link" href="{% url 'login' %}"
                      >Sign Up
                    </a>
                  </li>
                  <!-- <li class="menu_item">
                    <a class="scroll menu_link" href="{% url 'register' %}"
                      >Register
                    </a>
                  </li> -->
                  {% endif %}
                </ul>
                <div class="menu-social">
                  <div class="social_icons">
                    <a
                      href="https://www.facebook.com"
                      target="_blank"
                      class="social_button"
                      ><i class="fa fa-facebook"></i
                    ></a>
                    <a
                      href="https://www.twitter.com"
                      target="_blank"
                      class="social_button"
                      ><i class="fa fa-twitter"></i
                    ></a>
                    <a
                      href="https://myaccount.google.com"
                      target="_blank"
                      class="social_button"
                      ><i class="fa fa-google-plus"></i
                    ></a>
                  </div>
                </div>
              </nav>
            </div>
          </nav>
        </div>
      </div>
    </div>
    {% block content %} {% endblock %}
    <!--Footer-->

    <div class="footer">
      <div class="container">
        <div class="copyright">
          <p>
            &copy; Green Doctor. All rights reserved | Design by
            <a href="#">GrowMore Team</a>
          </p>
        </div>

        <div class="footer-social">
          <p>
            <a href="https://www.facebook.com" target="_blank"
              ><i class="fa fa-facebook-official"></i
            ></a>
            <a href="https://www.instagram.com" target="_blank"
              ><i class="fa fa-instagram"></i
            ></a>
            <a href="https://www.snapchat.com" target="_blank"
              ><i class="fa fa-snapchat"></i
            ></a>
            <a href="https://in.pinterest.com" target="_blank"
              ><i class="fa fa-pinterest-p"></i
            ></a>
            <a href="https://www.twitter.com" target="_blank"
              ><i class="fa fa-twitter"></i
            ></a>
            <a href="https://www.linkedin.com" target="_blank"
              ><i class="fa fa-linkedin"></i
            ></a>
            <a href="https://myaccount.google.com" target="_blank"
              ><i class="fa fa-google-plus"></i
            ></a>
          </p>
        </div>
      </div>
    </div>
    <!-- Javascript -->
    <!-- Default-JavaScript-File -->
    <script
      type="text/javascript"
      src="{% static 'deeplearning/js/jquery-2.1.4.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'deeplearning/js/bootstrap.js' %}"
    ></script>
  </body>
</html>
