{% extends "deeplearning/base2.html" %} {% load static %} {% block content %}
<div class="gallery" id="gallery" style="padding-bottom: 0">
  <div class="container">
    <h3 class="gallery-head">About PlantVillage Dataset</h3>
  </div>
</div>

<div class="contact" style="padding-top: 0" id="contact">
  <div class="container">
    <div class="contact-form">
      <img
        class="img"
        src="{% static 'deeplearning/images/PlantVillage-Dataset.jpg' %}"
        alt="image"
        style="display: block; margin: 0 auto; max-width: 50%"
      />

      <div
        class="col-md-12 form-left"
        style="margin-top: 5rem; text-align: center; padding-right: 0"
      >
        <div class="form-top">
          <p>
            In order to ease plant disease diagnosis, the PlantVillage project
            began collecting and later opensourced images of crops for both
            healthy and diseased plant. The PlantVillage dataset contains images
            of leaves corresponding to 14 crop species: Apple, Blueberry,
            Cherry, Grape, Orange, Peach, Bell Pepper, Potato, Raspberry,
            Soybean, Squash, Strawberry, and Tomato. The images are divided into
            38 classes of crop disease pairs: <strong>(1)</strong> Apple Scab,
            Venturia inaequalis <strong>(2)</strong> Apple Black Rot,
            Botryosphaeria obtusa <strong>(3)</strong> Apple Cedar Rust,
            Gymnosporangium juniperi-virginianae <strong>(4)</strong> Apple
            healthy <strong>(5)</strong> Blueberry healthy
            <strong>(6)</strong> Cherry healthy <strong>(7)</strong> Cherry
            Powdery Mildew, Podoshaera clandestine <strong>(8)</strong> Corn
            Gray Leaf Spot, Cercospora zeae-maydis <strong>(9)</strong> Corn
            Common Rust, Puccinia sorghi <strong>(10)</strong> Corn healthy
            <strong>(11)</strong> Corn Northern Leaf Blight, Exserohilum
            turcicum <strong>(12)</strong> Grape Black Rot, Guignardia
            bidwellii, <strong>(13)</strong> Grape Black Measles (Esca),
            Phaeomoniella aleophilum, Phaeomoniella chlamydospora
            <strong>(14)</strong> Grape Healthy <strong>(15)</strong> Grape Leaf
            Blight, Pseudocercospora vitis <strong>(16)</strong> Orange
            Huanglongbing (Citrus Greening), Candidatus Liberibacter spp.
            <strong>(17)</strong> Peach Bacterial Spot, Xanthomonas campestris
            <strong>(18)</strong> Peach healthy <strong>(19)</strong> Bell
            Pepper Bacterial Spot, Xanthomonas campestris
            <strong>(20)</strong> Bell Pepper healthy
            <strong>(21)</strong> Potato Early Blight, Alternaria solani
            <strong>(22)</strong> Potato healthy <strong>(23)</strong> Potato
            Late Blight, Phytophthora infestans <strong>(24)</strong> Raspberry
            healthy <strong>(25)</strong> Soybean healthy
            <strong>(26)</strong> Squash Powdery Mildew, Erysiphe cichoracearum
            <strong>(27)</strong> Strawberry Healthy
            <strong>(28)</strong> Strawberry Leaf Scorch, Diplocarpon earlianum
            <strong>(29)</strong> Tomato Bacterial Spot, Xanthomonas campestris
            pv. vesicatoria <strong>(30)</strong> Tomato Early Blight,
            Alternaria solani <strong>(31)</strong> Tomato Late Blight,
            Phytophthora infestans <strong>(32)</strong> Tomato Leaf Mold,
            Passalora fulva <strong>(33)</strong> Tomato Septoria Leaf Spot,
            Septoria lycopersici <strong>(34)</strong> Tomato Two Spotted Spider
            Mite, Tetranychus urticae <strong>(35)</strong> Tomato Target Spot,
            Corynespora cassiicola <strong>(36)</strong>Tomato Mosaic Virus
            <strong>(37)</strong> Tomato Yellow Leaf Curl Virus
            <strong>(38)</strong> Tomato healthy.
          </p>
        </div>

        <div class="social-form">
          <div class="social-media">
            <ul>
              <li>
                <a
                  href="{% url 'predict' %}"
                  class="fa fa-plant"
                  style="width: 350px; height: 40px; font-size: 20px"
                >
                  Predict Crop Disease</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
{% endblock %}
